button {
    cursor: pointer;
}

.bookContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 250px;
    border: solid;
    padding: 30px;
    background-color: rgb(68, 68, 68);
    overflow: hidden;
    border-radius: 20px;
}

.bookContainer img {
    max-width: 150px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    border: solid 10px rgba(0, 0, 0, 0.266);
    cursor: pointer;
}

.imgContainer {
    text-align: center;
    height: 230px;
}

.listContainer {
    border: solid;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 30px;
    margin: 40px;
    overflow: scroll;
    max-height: 70dvh;
    margin-bottom: 0;
}

.titleWrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.titleWrapper h1 {
    margin: 0;
}

.titleWrapper button {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: none;

}

.filterBtnT {
    background-color: green;
}

.filterBtnF {
    background-color: red;
}

.sortBtnT {
    background-color: green;
}

.sortBtnF {
    background-color: red;
}

.availableContainer {
    margin: auto;
}

/* =================NAVBAR============================ */

.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    border-bottom: solid;

}

.navSelector {
    padding: 20px;
    z-index: 100;
}

.navSelector:hover {
    background-color: red;
    cursor: pointer;
}

body {
    margin-top: 100px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    color: white;
}

.navTitle {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 0;
}

.navTitle h2 {
    margin-top: 15px;
    margin-bottom: 0;
    z-index: 100;
}

.loginContainer {
    display: flex;
    align-items: center;
}

.loginSelector:hover {
    background-color: red;
    cursor: pointer;
}

.loginSelector {
    padding: 20px;
}

.labelContainer {
    display: flex;
    flex-direction: column;
}

/* =====================Form=============================== */

.formContainer {
    display: flex;
    justify-content: center;
    border: solid;
    border-radius: 20px;
    background-color: rgb(30, 30, 30);
    width: 325px;
    padding: 50px;
    padding-bottom: 20px;
    margin: 70px;
}

.formLogin {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min-content;
    align-items: center;
}

.loginBtn {
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.formLogin button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(158, 158, 158);
}

.formMessage {
    color: red;
    text-align: center;
    text-wrap: wrap;
    margin: 10px;

}

/* =============================================== */
.singleBookWrapper img {
    height: 300px;
    border-radius: 25px;
    border: solid 5px rgba(0, 0, 0, 0.31);
    margin: 40px;
}

.singleBookWrapper {
    display: flex;
    flex-direction: row;
}

.singleImgContainer {

}

.detailContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
}

/* ====================================== */

.accountContainer {
    border: solid;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.resBookContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    gap: 30px;
}

.resBookContainer img {
    height: 175px;
    margin-top: 25px;
    border-radius: 20px;
}

.resBookContainer button {
    width: 75%;
    margin-bottom: 20px;
}

.resBookImgContainer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    border: solid 20px rgba(0, 0, 0, 0.37);
    height: 300px;
    width: 300px;
}